.welcome-container {
  width: 80%;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-message {
  font-size: 3rem;
  font-weight: bold;
  color: crimson;
}

.input-name {
  height: 3rem;
  font-size: 2rem;
  width: 20rem;
  text-align: center;
  color: darkred;
  font-weight: bold;
  width: 100%;
}

.enter-button {
  height: 3.1rem;
  width: 100%;
  font-size: 1.5rem;
}

.game-statistics {
  font-size: 1rem;
  font-weight: bold;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
}

.game-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(175, 30, 30);
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
}

.col-board {
  width: 80%;
}

.col-option {
  width: 20%;
}

.options {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  align-items: center;
  width: 45px;
}

.options img {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  max-width: 3rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.clue-table {
  width: 100%;
  border: 1px black;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.clue-table .btn {
  font-size: 0.70rem;
  height: 1.5rem;
}

.clue-1 {
  width: 5%;
  background-color: rgba(167, 13, 13, 0.10);
}

.clue-2 {
  width: 75%;
  background-color: rgba(167, 13, 13, 0.2);
}

.clue-3 {
  width: 20%;
  background-color: rgba(167, 13, 13, 0.25);
}

.img-password {
  width: 2em;
  height: auto;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.img-clue {
  width: 0.5rem;
  margin-right: 0.1rem;
}

@media (min-width: 600px) {
  .main-container {
    width: 600px;
  }

  .img-password {
    width: 3em;
    height: auto;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  .img-clue {
    width: 0.75rem;
    margin-right: 0.1rem;
  }
}