<!-- 
  WELCOME SECTION
-->
<div class="container welcome-container" *ngIf="statistics===null; else showBoard">
  <div class="row">
    <div class="col">
      <label for="" class="welcome-message">¿Cuál es tu nombre?</label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form #f="ngForm" (ngSubmit)="onClickEnter()" novalidate>
        <input type="text" class="form-control input-name" [(ngModel)]="name" name="name" />
        <button type="submit" class="btn btn-primary enter-button">Entrar</button>
      </form>
    </div>
  </div>
</div>
<!--END OF WELCOME SECTION-->


<ng-template #showBoard>
  <!--
    Show statistics
  -->
  <header>
    <div class="container game-statistics">
      <div class="row">
        <div class="col text-center fw-bold">
          <a href="" (click)="resetApp()">[Salir]</a>
        </div>
        <div class="col-8">{{statistics?.name}} - Score: {{score}}</div>
      </div>
    </div>
  </header>

  <div class="container main-container">
    <div class="row">
      <div class="col game-title text-center">MASTERMIND</div>
    </div>

    <div class="row mt-2">

      <!-- 
        Board section 
      -->
      <div class="col-board">
        <div class="container">
          <div class="row">
            <div class="col text-center fw-bold btn btn-dark" (click)="onClickNewPassword()">ADIVINA EL PASSWORD</div>
          </div>
          <div class="row mt-2">
            <div class="col p-0 text-center mt-2">

              <table class="clue-table">
                <tr>
                  <th class="clue-1">Check</th>
                  <th class="clue-2">Tu password</th>
                  <th class="clue-3">Pistas</th>
                </tr>

                <ng-template ngFor [ngForOf]="masterMind.passwordClues" let-item let-i="index">
                  <tr class="border border-white">
                    <td>
                      <button class="btn btn-primary btn-sm" *ngIf="masterMind.attempt === i"
                        (click)="onClickCheckPassword()">></button>
                    </td>
                    <td class="mx-auto">
                      <img class="img-password" src="assets/{{item.selection[0]}}.png" alt="alpha"
                        (click)="onClickAnswer(i, 0)" />
                      <img class="img-password" src="assets/{{item.selection[1]}}.png" alt="alpha"
                        (click)="onClickAnswer(i, 1)" />
                      <img class="img-password" src="assets/{{item.selection[2]}}.png" alt="alpha"
                        (click)="onClickAnswer(i, 2)" />
                      <img class="img-password" src="assets/{{item.selection[3]}}.png" alt="alpha"
                        (click)="onClickAnswer(i, 3)" />
                      <img class="img-password" src="assets/{{item.selection[4]}}.png" alt="alpha"
                        (click)="onClickAnswer(i, 4)" />
                    </td>
                    <td class="mx-auto">
                      <img class="img-clue rounded-circle" src="assets/{{item.clues[0]}}.png" />
                      <img class="img-clue rounded-circle" src="assets/{{item.clues[1]}}.png" />
                      <img class="img-clue rounded-circle" src="assets/{{item.clues[2]}}.png" />
                      <img class="img-clue rounded-circle" src="assets/{{item.clues[3]}}.png" />
                      <img class="img-clue rounded-circle" src="assets/{{item.clues[4]}}.png" />
                    </td>
                  </tr>
                </ng-template>

                <tr>
                  <td></td>
                  <td class="mx-auto" *ngIf="masterMind.gameState !== 'ip'">
                    <img class="img-password" src="assets/{{masterMind.hints[0]}}.png" />
                    <img class="img-password" src="assets/{{masterMind.hints[1]}}.png" />
                    <img class="img-password" src="assets/{{masterMind.hints[2]}}.png" />
                    <img class="img-password" src="assets/{{masterMind.hints[3]}}.png" />
                    <img class="img-password" src="assets/{{masterMind.hints[4]}}.png" />
                  </td>
                  <td></td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 
        Option section 
      -->
      <div class="col-option">
        <div class="container">
          <div class="row">
            <div class="col text-center fw-bold">
              <button type="button" class="btn btn-primary question" (click)="open(content)">?</button>
            </div>
          </div>

          <div class="row options mt-2  rounded-4 mx-auto">
            <img src="assets/red.png" alt="red" (click)="onClickOption('red')" />
            <img src="assets/blue.png" alt="blue" (click)="onClickOption('blue')" />
            <img src="assets/yellow.png" alt="yellow" (click)="onClickOption('yellow')" />
            <img src="assets/green.png" alt="green" (click)="onClickOption('green')" />
            <img src="assets/orange.png" alt="orange" (click)="onClickOption('orange')" />
            <img src="assets/gray.png" alt="gray" (click)="onClickOption('gray')" />
          </div>

          <div class="row options mt-2  rounded-4 mx-auto">
            <img src="assets/{{optionSelected}}.png" alt={{optionSelected}} />
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Cómo jugar Mastermind?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h4>Reglas del juego.</h4>
    <ol>
      <li>Existe un password (código secreto) de cinco colores colocados en un orden específico.</li>
      <li>Intenta adivinar los cinco colores que la máquina ha elegido y el orden en que están colocados.</li>
      <li>Coloca esferas de colores en una fila sobre el tablero de descifrado para intentar adivinar el código secreto.</li>
      <li>Al dar click sobr el botón check se proporciona información sobre cuántos colores son correctos y si están en la posición correcta
        o no. Un círculo negro indica que el color y la posición es correcta, un círculo amarillo significa que el color es parte del código secreto pero no está en la posición correcta.
      </li>
      <li>Utiliza esta información para hacer nuevos intentos, ajustando tú selección de colores en
        función de las pistas proporcionadas.</li>
      <li>El juego continúa hasta que el logres adivinar el código correcto o hasta que se agotan las oportunidades.
      </li>
      <li>Da click sobre el botón de "ADIVINA EL PASSWORD" para un nuevo juego.</li>
    </ol>
    <h4>¡Buena suerte!</h4>
  </div>
</ng-template>