<!-- 
  WELCOME SECTION
-->
<div class="container welcome-container" *ngIf="statistics===null; else showBoard">
  <div class="row">
    <div class="col">
      <label for="" class="welcome-message">¿Cuál es tu nombre?</label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form #f="ngForm" (ngSubmit)="onClickEnter()" novalidate>
        <input type="text" class="form-control input-name" [(ngModel)]="name" name="name" />
        <button type="submit" class="btn btn-primary enter-button">Entrar</button>
      </form>
    </div>
  </div>
</div>
<!--END OF WELCOME SECTION-->


<ng-template #showBoard>
  <!--
    Show statistics
  -->
  <header>
    <div class="container game-statistics">
      <div class="row">
        <div class="col">{{statistics?.name}}</div>
        <div class="col-8">Ganaste: {{statistics?.won}} - Perdiste: {{statistics?.lost}}</div>
      </div>
    </div>
  </header>

  <div class="container main-container">
    <div class="row">
      <div class="col game-title text-center">MY MASTERMIND</div>
    </div>

    <div class="row mt-4">

      <!-- 
        Board section 
      -->
      <div class="col-board">
        <div class="container">
          <div class="row">
            <div class="col border rounded border-dark p-2 text-center fw-bold">ADIVINA EL PASSWORD</div>
          </div>
          <div class="row mt-4">
            <div class="col p-0 text-center mt-2">

              <table class="clue-table">
                <tr>
                  <th class="clue-1">Check</th>
                  <th class="clue-2">Tu password</th>
                  <th class="clue-3">Pistas</th>
                </tr>

                <tr class="border border-white">
                  <td><button class="btn btn-primary btn-sm">></button></td>
                  <td class="mx-auto">
                    <img class="img-password" src="assets/alpha.png" alt="alpha" />
                    <img class="img-password" src="assets/alpha.png" alt="alpha" />
                    <img class="img-password" src="assets/blue.png" alt="alpha" />
                    <img class="img-password" src="assets/alpha.png" alt="alpha" />
                    <img class="img-password" src="assets/alpha.png" alt="alpha" />
                  </td>
                  <td class="mx-auto">
                    <img class="img-clue rounded-circle" src="assets/g.png" />
                    <img class="img-clue rounded-circle" src="assets/b.png" />
                    <img class="img-clue rounded-circle" src="assets/g.png" />
                    <img class="img-clue rounded-circle" src="assets/y.png" />
                    <img class="img-clue rounded-circle" src="assets/g.png" />
                  </td>
                </tr>
                
                

              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 
        Option section 
      -->
      <div class="col-option">
        <div class="container">
          <div class="row">
            <div class="col text-center fw-bold">
              <button type="button" class="btn btn-primary question">?</button>
            </div>
          </div>

          <div class="row options mt-4  rounded-4 mx-auto">
            <img src="assets/red.png" alt="red" (click)="onclickOption('red')"/>
            <img src="assets/blue.png" alt="blue" (click)="onclickOption('blue')"/>
            <img src="assets/yellow.png" alt="yellow" (click)="onclickOption('yellow')"/>
            <img src="assets/green.png" alt="green" (click)="onclickOption('green')"/>
            <img src="assets/orange.png" alt="orange" (click)="onclickOption('orange')"/>
            <img src="assets/gray.png" alt="gray" (click)="onclickOption('gray')"/>
          </div>

          <div class="row options mt-4  rounded-4 mx-auto">
            <img  src="assets/{{optionSelected}}.png" alt={{optionSelected}} />
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>